<!-- About Section -->
    <section id="about">
        <div class="container about">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me</h2>
                    <h3 class="section-subheading text-muted">The professional...</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-offset-1 col-lg-4">
                    <div class="mobile-hide">
                        <img class="img-rounded img-responsive" style="width: 450px; height: auto" src="img/JamieKurtz_li_4C.jpg" alt="">
                        <br />
                        <br />
                        <a href="http://www.fusionalliance.com"><img class="img-rounded img-responsive" style="width: 400px; height: auto" src="/img/FA_Logo.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-1">
                    &nbsp;
                </div>
                <div class="col-lg-6">
                    <p class="text-muted">As a seasoned software engineer, author, speaker, manager, and solutions architect, I am at home leading development projects from inception through
                        delivery, communicating vision and architecture to both executives and development staff, and
                        establishing architecture patterns and practices for a variety of development platforms.</p>

                    <p class="text-muted">I enjoy working closely with <a href="http://www.fusionalliance.com">my
                        company</a>’s sales staff in gaining new accounts and selling key projects, leading our
                        company’s <a href="https://github.com/fusionalliance">open source initiatives</a>, and participating in various travel and speaking engagements.</p>

                    <p class="text-muted">Back in college, I double majored in Physics and Mathematics, minoring in Computer Science, and have since spent the last nearly 20 years working in
                        development and production capacities on Microsoft and Linux platforms.  I find that I do particularly well solving those <b>difficult non-traditional
                        problems</b> that no one else wants to touch - e.g. dev/test/prod environment automation, networks and systems integration, cloud migrations,
                        application security, and continuous integration and delivery.
                    </p>

                    <p class="text-muted">All told, I have worked in DBA, project lead, team lead, manager, architect, tester, and developer roles in a variety of industries,
                        including: telecommunications, manufacturing, banking, video intelligence/security, pharmaceutical, and health sciences.
                        I am currently happily employed at <a href="http://www.fusionalliance.com">Fusion Alliance</a> in Indianapolis, IN, as group manager for one of our AppDev teams.</p>
                </div>
            </div>

            <div class="col-lg-1">
                &nbsp;
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-subheading text-muted">The personal...</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 text-center">
                    <img class="img-responsive img-circle" src="img/about/jamie-marmot-lake.jpg" >
                    <p class="text-muted">Backpacking in the Cascades... I love being outside!</p>
                    <p>&nbsp;</p>

                    <img class="img-responsive img-circle" src="img/about/tetons.jpg" >
                    <p class="text-muted">With my family at the Grand Tetons...</p>
                    <p>&nbsp;</p>

                    <img class="img-responsive img-circle" src="img/about/buffalo.jpg" >
                    <p class="text-muted">... and waiting for some buffalo to cross the road in Yellowstone on our latest RV trip.</p>
                </div>
                <div class="col-lg-1">
                    &nbsp;
                </div>
                <div class="col-lg-4">
                    <img class="img-responsive img-circle" src="img/about/jamie-toth.jpg" >
                    <p class="text-muted">That's me at <a href="http://tothministries.org/about/">Toth Ministries</a> in the mountains of Colorado.</p>
                    <p>&nbsp;</p>
                    <div class="row">
                        <div class="col-lg-6">
                            <img class="img-responsive logos" src="img/about/outreach.jpg">
                        </div>
                        <div class="col-lg-6">
                            <img class="img-responsive logos" src="img/about/ides-logo.jpg">
                        </div>
                    </div>
                    <p class="text-muted">A couple organizations I'm involved with: <a href="http://outreachindiana.org/">Outreach Inc.</a>, equipping and empowering homeless teens and young adults in Indianapolis to achieve stability and life transformation;
                        and <a href="http://www.ides.org/disasterrelief.html">IDES</a>, providing hope and relief to disaster victims around the world.</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>

                    <img class="img-responsive img-circle" src="img/about/jamie-drums.jpg" >
                    <p class="text-muted">And did I mention I play drums? That's me in rehearsal at our church.</p>
                    <p>&nbsp;</p>

                </div>
                <div class="col-lg-1">
                    &nbsp;
                </div>
                <div class="col-lg-3 text-center">
                    <img class="img-responsive img-circle" src="img/about/koda-yard.jpg" >
                    <p class="text-muted">Next to spending time outdoors with my family, I enjoy
                    lying around with my incredibly lazy dog.</p>
                    <p>&nbsp;</p>

                    <img class="img-responsive img-circle" src="img/about/martha-zambia.jpg" >
                    <p class="text-muted">My youngest brother and his wife on a mission trip in Zambia, Africa, hugging one of the kids we sponsor through
                    <a href="http://horizoninternationalinc.com/">Horizon International</a>.</p>

                </div>
            </div>

        </div>
    </section>
