<style>
    * { box-sizing: border-box; }
    html { font-family: sans-serif; font-size: 10px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
    body { margin: 0px; font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.42857143; color: rgb(165, 108, 54); background-color: rgb(255, 255, 255); overflow-x: hidden; }
    article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
    .navbar { position: relative; min-height: 50px; margin-bottom: 20px; border: 1px solid transparent; }
    .navbar-fixed-bottom, .navbar-fixed-top { position: fixed; right: 0px; left: 0px; z-index: 1030; }
    .navbar-fixed-top { top: 0px; border-width: 0px 0px 1px; position: relative; }
    .navbar-default { border-color: transparent; background-color: rgb(34, 34, 34); }
    .container { padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }
    .container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header { margin-right: -15px; margin-left: -15px; }
    button, input, optgroup, select, textarea { margin: 0px; font-family: inherit; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; color: inherit; }
    button { overflow: visible; }
    button, select { text-transform: none; }
    button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
    button, input, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; }
    .navbar-toggle { position: relative; float: right; padding: 9px 10px; margin-top: 8px; margin-right: 15px; margin-bottom: 8px; border: 1px solid transparent; border-radius: 4px; background-image: none; background-color: transparent; }
    .navbar-default .navbar-toggle { border-color: rgb(59, 109, 165); background-color: rgb(59, 109, 165); }
    .sr-only { position: absolute; width: 1px; height: 1px; padding: 0px; margin: -1px; overflow: hidden; clip: rect(0px 0px 0px 0px); border: 0px; }
    .navbar-toggle .icon-bar { display: block; width: 22px; height: 2px; border-radius: 1px; }
    .navbar-default .navbar-toggle .icon-bar { background-color: rgb(255, 255, 255); }
    .navbar-toggle .icon-bar + .icon-bar { margin-top: 4px; }
    a { background-color: transparent; color: rgb(59, 109, 165); text-decoration: none; }
    a, a:hover, a:focus, a:active, a.active { outline: 0px; }
    .logo a { text-decoration: none; color: rgb(165, 108, 54); }
    img { border: 0px; vertical-align: middle; }
    .carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img { display: block; max-width: 100%; height: auto; }
    .img-rounded { border-radius: 6px; }
    .alignleft { float: left; margin: 5px 20px 20px 0px; }
    .logo img { margin: 5px 20px 0px auto; padding-bottom: 10px; height: 100px; width: auto; }
    .logo .intro-text { width: 75%; }
    .logo .intro-text .intro-lead-in { margin-bottom: 5px; font-family: Oswald, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 30px; font-weight: 300; text-transform: uppercase; color: white; }
    .logo .intro-text .intro-heading { font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 10px; font-weight: 700; color: white; }
    .collapse { display: none; }
    .navbar-collapse { padding-right: 15px; padding-left: 15px; overflow-x: visible; border-top-width: 1px; border-top-style: solid; border-top-color: transparent; -webkit-box-shadow: rgba(255, 255, 255, 0.0980392) 0px 1px 0px inset; box-shadow: rgba(255, 255, 255, 0.0980392) 0px 1px 0px inset; }
    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse { max-height: 340px; }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form { border-color: rgb(231, 231, 231); }
    .navbar-default .navbar-collapse { border-color: rgba(255, 255, 255, 0.0196078); }
    ol, ul { margin-top: 0px; margin-bottom: 10px; }
    .nav { padding-left: 0px; margin-bottom: 0px; list-style: none; }
    .navbar-nav { margin: 7.5px -15px; }
    .hidden { display: none !important; }
    .nav > li { position: relative; display: block; }
    .nav > li > a { position: relative; display: block; padding: 10px 15px; }
    .navbar-nav > li > a { padding-top: 10px; padding-bottom: 10px; line-height: 20px; }
    .navbar-default .navbar-nav > li > a { color: rgb(119, 119, 119); }
    .navbar-default .nav li a { text-transform: uppercase; font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; letter-spacing: 1px; color: rgb(255, 255, 255); }
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover { color: rgb(85, 85, 85); background-color: rgb(231, 231, 231); }
    .navbar-default .navbar-nav > .active > a { border-radius: 0px; color: rgb(255, 255, 255); background-color: rgb(59, 109, 165); }
    .carousel { position: relative; }
    .mobile-hide { display: none; }
    .carousel-inner { position: relative; width: 100%; overflow: hidden; }
    .slide-item { -webkit-background-size: cover; padding-bottom: 1000px; background-size: cover; background-position: 50% 50%; }
    .carousel-inner > .item { position: relative; display: none; transition: transform 0.6s ease-in-out; -webkit-transition: transform 0.6s ease-in-out; -webkit-backface-visibility: hidden; backface-visibility: hidden; -webkit-perspective: 1000; }
    #slide-innovation { background-image: url(http://127.0.0.1:4000/img/bulb.jpg); }
    .row { margin-right: -15px; margin-left: -15px; }
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 { position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; }
    .slide-item a { color: rgb(245, 212, 148); }
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; }
    .h4, .h5, .h6, h4, h5, h6 { margin-top: 10px; margin-bottom: 10px; }
    .h4, h4 { font-size: 18px; }
    h1, h2, h3, h4, h5, h6 { text-transform: uppercase; font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 700; }
    p { margin: 0px 0px 10px; font-size: 14px; line-height: 1.75; }
    .slide-item p { font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; }
    #slide-security { background-image: url(http://127.0.0.1:4000/img/key.jpg); }
    .carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev { display: block; }
    .carousel-inner > .active { left: 0px; }
    .carousel-inner > .item.active, .carousel-inner > .item.next.left, .carousel-inner > .item.prev.right { left: 0px; -webkit-transform: translate3d(0px, 0px, 0px); transform: translate3d(0px, 0px, 0px); }
    #slide-numbers { background-image: url(http://127.0.0.1:4000/img/numbers.jpg); }
    #slide-outdoors { background-image: url(http://127.0.0.1:4000/img/mountain-lake.jpg); }
    [role="button"] { cursor: pointer; }
    .carousel-control { position: absolute; top: 0px; bottom: 0px; left: 0px; width: 15%; font-size: 20px; color: rgb(255, 255, 255); text-align: center; text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 2px; opacity: 0.5; }
    .carousel-control.left { background-image: linear-gradient(to right, rgba(0, 0, 0, 0.498039) 0px, rgba(0, 0, 0, 0) 100%); background-repeat: repeat-x; }
    .glyphicon { position: relative; top: 1px; display: inline-block; font-family: 'Glyphicons Halflings'; font-style: normal; font-weight: 400; line-height: 1; -webkit-font-smoothing: antialiased; }
    .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev { position: absolute; top: 50%; z-index: 5; display: inline-block; }
    .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev { left: 50%; margin-left: -10px; }
    .carousel-control.right { right: 0px; left: auto; background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.498039) 100%); background-repeat: repeat-x; }
    .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next { right: 50%; margin-right: -10px; }
    section { padding: 100px 0px; }
    .text-center { text-align: center; }
    .h1, .h2, .h3, h1, h2, h3 { margin-top: 20px; margin-bottom: 10px; }
    .h2, h2 { font-size: 30px; }
    section h2.section-heading { margin-top: 0px; margin-bottom: 15px; font-size: 40px; }
    .h3, h3 { font-size: 24px; }
    .text-muted { color: rgb(119, 119, 119); }
    section h3.section-subheading { margin-bottom: 75px; text-transform: none; font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-style: italic; font-weight: 400; }
    .about img { margin: 0px auto; height: 200px; width: auto; }

    @media(min-width:768px) {
        * { box-sizing: border-box; }
        html { font-family: sans-serif; font-size: 10px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
        body { margin: 0px; font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.42857143; color: rgb(165, 108, 54); overflow-x: hidden; background-color: rgb(255, 255, 255); }
        article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
        .navbar { position: relative; min-height: 50px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px; }
        .navbar-fixed-bottom, .navbar-fixed-top { position: fixed; right: 0px; left: 0px; z-index: 1030; border-radius: 0px; }
        .navbar-fixed-top { top: 0px; border-width: 0px 0px 1px; position: fixed; }
        .navbar-default { border-color: transparent; background-color: transparent; padding: 25px 0px; border: 0px; -webkit-transition: padding 0.3s; transition: padding 0.3s; }
        .container { padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; width: 1170px; }
        .navbar-header { float: left; }
        .container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header { margin-right: 0px; margin-left: 0px; }
        button, input, optgroup, select, textarea { margin: 0px; font-family: inherit; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; color: inherit; }
        button { overflow: visible; }
        button, select { text-transform: none; }
        button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
        button, input, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; }
        .navbar-toggle { position: relative; float: right; padding: 9px 10px; margin-top: 8px; margin-right: 15px; margin-bottom: 8px; border: 1px solid transparent; border-radius: 4px; background-image: none; background-color: transparent; display: none; }
        .navbar-default .navbar-toggle { border-color: rgb(59, 109, 165); background-color: rgb(59, 109, 165); }
        .sr-only { position: absolute; width: 1px; height: 1px; padding: 0px; margin: -1px; overflow: hidden; clip: rect(0px 0px 0px 0px); border: 0px; }
        .navbar-toggle .icon-bar { display: block; width: 22px; height: 2px; border-radius: 1px; }
        .navbar-default .navbar-toggle .icon-bar { background-color: rgb(255, 255, 255); }
        .navbar-toggle .icon-bar + .icon-bar { margin-top: 4px; }
        a { color: rgb(59, 109, 165); text-decoration: none; background-color: transparent; }
        a, a:hover, a:focus, a:active, a.active { outline: 0px; }
        .logo a { text-decoration: none; color: rgb(165, 108, 54); }
        img { border: 0px; vertical-align: middle; }
        .carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img { display: block; max-width: 100%; height: auto; }
        .img-rounded { border-radius: 6px; }
        .alignleft { float: left; margin: 5px 20px 20px 0px; }
        .logo img { margin: 10px 20px 0px auto; padding-bottom: 10px; height: 100px; width: auto; }
        .logo .intro-text { width: 400px; }
        .logo .intro-text .intro-lead-in { margin-bottom: 5px; font-family: Oswald, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 50px; font-weight: 300; text-transform: uppercase; color: white; margin-top: -28px; }
        .logo .intro-text .intro-heading { font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 700; color: white; }
        .collapse { display: none; }
        .navbar-collapse { padding-right: 15px; padding-left: 15px; overflow-x: visible; border-top-width: 0px; border-top-style: solid; border-top-color: transparent; -webkit-box-shadow: none; box-shadow: none; width: auto; }
        .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse { max-height: 340px; }
        .navbar-default .navbar-collapse, .navbar-default .navbar-form { border-color: rgb(231, 231, 231); }
        .navbar-default .navbar-collapse { border-color: rgba(255, 255, 255, 0.0196078); }
        .navbar .navbar-collapse { text-align: center; }
        .navbar-collapse.collapse { padding-bottom: 0px; display: block !important; height: auto !important; overflow: visible !important; }
        .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse { padding-right: 0px; padding-left: 0px; }
        ol, ul { margin-top: 0px; margin-bottom: 10px; }
        .nav { padding-left: 0px; margin-bottom: 0px; list-style: none; }
        .navbar-nav { margin: 0px; float: left; }
        .navbar-right { margin-right: -15px; float: right !important; }
        .navbar .navbar-nav { display: inline-block; float: none; vertical-align: top; }
        .hidden { display: none !important; }
        .nav > li { position: relative; display: block; }
        .navbar-nav > li { float: left; }
        .nav > li > a { position: relative; display: block; padding: 10px 15px; }
        .navbar-nav > li > a { padding-top: 15px; padding-bottom: 15px; line-height: 20px; }
        .navbar-default .navbar-nav > li > a { color: rgb(119, 119, 119); }
        .navbar-default .nav li a { text-transform: uppercase; font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; letter-spacing: 1px; color: rgb(255, 255, 255); }
        .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover { color: rgb(85, 85, 85); background-color: rgb(231, 231, 231); }
        .navbar-default .navbar-nav > .active > a { border-radius: 3px; color: rgb(255, 255, 255); background-color: rgb(59, 109, 165); }
        .carousel { position: relative; }
        .mobile-hide { display: block; }
        .carousel-inner { position: relative; width: 100%; overflow: hidden; }
        .slide-item { -webkit-background-size: cover; padding-bottom: 1000px; background-size: cover; background-position: 50% 50%; }
        .carousel-inner > .item { position: relative; display: none; -webkit-transition: transform 0.6s ease-in-out; transition: transform 0.6s ease-in-out; -webkit-backface-visibility: hidden; backface-visibility: hidden; -webkit-perspective: 1000; }
        .carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev { display: block; }
        .carousel-inner > .active { left: 0px; }
        .carousel-inner > .item.active, .carousel-inner > .item.next.left, .carousel-inner > .item.prev.right { left: 0px; -webkit-transform: translate3d(0px, 0px, 0px); transform: translate3d(0px, 0px, 0px); }
        #slide-innovation { background-image: url(http://127.0.0.1:4000/img/bulb.jpg); }
        .row { margin-right: -15px; margin-left: -15px; }
        .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 { position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; }
        .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 { float: left; }
        .col-lg-3 { width: 25%; }
        .slide-item a { color: rgb(245, 212, 148); }
        #slide-security { background-image: url(http://127.0.0.1:4000/img/key.jpg); }
        .col-lg-offset-5 { margin-left: 41.66666667%; }
        .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; }
        .h4, .h5, .h6, h4, h5, h6 { margin-top: 10px; margin-bottom: 10px; }
        .h4, h4 { font-size: 18px; }
        h1, h2, h3, h4, h5, h6 { text-transform: uppercase; font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 700; }
        p { margin: 0px 0px 10px; font-size: 14px; line-height: 1.75; }
        .slide-item p { font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; }
        #slide-numbers { background-image: url(http://127.0.0.1:4000/img/numbers.jpg); }
        .col-lg-offset-4 { margin-left: 33.33333333%; }
        #slide-outdoors { background-image: url(http://127.0.0.1:4000/img/mountain-lake.jpg); }
        [role="button"] { cursor: pointer; }
        .carousel-control { position: absolute; top: 0px; bottom: 0px; left: 0px; width: 15%; font-size: 20px; color: rgb(255, 255, 255); text-align: center; text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 2px; opacity: 0.5; }
        .carousel-control.left { background-image: linear-gradient(to right, rgba(0, 0, 0, 0.498039) 0px, rgba(0, 0, 0, 0) 100%); background-repeat: repeat-x; }
        .glyphicon { position: relative; top: 1px; display: inline-block; font-family: 'Glyphicons Halflings'; font-style: normal; font-weight: 400; line-height: 1; -webkit-font-smoothing: antialiased; }
        .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev { position: absolute; top: 50%; z-index: 5; display: inline-block; width: 30px; height: 30px; margin-top: -15px; font-size: 30px; }
        .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev { left: 50%; margin-left: -15px; }
        .carousel-control.right { right: 0px; left: auto; background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.498039) 100%); background-repeat: repeat-x; }
        .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next { right: 50%; margin-right: -15px; }
    }
</style>