    <script src="{{ "/js/jquery-1.11.2.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/agency.js" | prepend: site.baseurl }}"></script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <script>
        [].forEach.call(document.querySelectorAll('.adsbygoogle'), function(){
            (adsbygoogle = window.adsbygoogle || []).push({});
        });
    </script>