
<div class="leader">

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <!-- Leader Ad - Mobile -->
    <ins class="adsbygoogle leader-ad-mobile"
         style="width:320px;height:100px"
         data-ad-client="ca-pub-3246837045070811"
         data-ad-slot="7551085458"></ins>

    <!-- Jamie Kurtz Leader -->
    <ins class="adsbygoogle leader-ad-regular"
         style="width:728px;height:90px"
         data-ad-client="ca-pub-3246837045070811"
         data-ad-slot="3495452655"></ins>

    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>