
<nav class="navbar navbar-default navbar-fixed-top navbar-shrink navbar-override" role="navigation" >
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="logo">
                <a href="/#page-top">
                    <img src="/img/JamieKurtz_li_4C-90x90.jpg" class="img-responsive img-rounded alignleft" />
                    <div class="intro-text">
                        <div class="intro-lead-in">Jamie Kurtz</div>
                        <div class="intro-heading">Solutions Architect and Consultant</div>
                    </div>
                </a>
            </div>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="nav-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden"><a href="#page-top"></a></li>
                <li><a class="page-scroll" href="/#about">About Me</a></li>
                <li><a class="page-scroll" href="/#specialties">Specialties</a></li>
                <li><a class="page-scroll" href="/#my-work">My Work</a></li>
                <li class="active"><a class="page-scroll" href="/blog">Blog</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="mobile-hide">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</div>


