
<header>
    <div class="container post-container">
        <a href="{{ site.baseurl }}/" class="home_button"></a>
        <div class="inner-container">
            <h1>Jamie Kurtz</h1>
        </div>
        <ul class="pagination">
            {% if page.previous.url %}
            <li class="previous">
                <a href="{{ site.baseurl }}{{ page.previous.url }}">
                    Previous
                </a>
            </li>
            {% endif %}
            {% if page.next.url %}
            <li class="next">
                <a href="{{ site.baseurl }}{{ page.next.url }}">
                    Next
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</header>
<br/>
<br/>

<article>
    <div class="container text-muted">
        <div class="row">
            <div class="col-lg-10">
                <h2>{{ page.title }}</h2>
                <span class="meta">Posted on {{ page.date | date_to_string }} by {{ page.author }}</span>
                <br/>
                <br/>
                {{ content }}
            </div>
            <div class="col-lg-2">
                ads
            </div>
        </div>
    </div>
</article>