<!-- Publications Section -->
    <section id="publications" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Publications</h2>
                    <h3 class="section-subheading text-muted">&nbsp;</h3>
                </div>
            </div>
            <div class="row">
                {% for publication in site.publications %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/publications/{{ publication.pic }}.jpg" class="img-responsive" alt="">
                        <h4>{{ publication.title }}</h4>
                        <p class="text-muted">{{ publication.date }}</p>
                        <p class="text-muted">{{ publication.description }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>