---
title: Solutions Architect and Consultant | Jamie Kurtz
layout: compress
---

<!DOCTYPE html>
<html>

<head>
  <!--{% include inline-css-for-default.html %}-->
   {% include head-content.html %}
   {% include fonts-and-css.html %}

</head>

    <body id="page-top" class="index">

    {% include header.html %}
    {% include about.html %}
    {% include specialties.html %}
    {% include my-work.html %}
    {% include blog-section.html %}
    {% include footer.html %}
    {% include js.html %}

    </body>
</html>