<!DOCTYPE html>
<html>

<head>
    {% include head-content.html %}
    {% include fonts-and-css.html %}
</head>


<body style="background: #efefef">

{% include nav.html %}


<div class="container text-muted">
    <div class="row">
        <div class="col-lg-offset-1 col-lg-8" style="background-color: #ffffff; margin-top: 20px; border-radius: 10px">
            <h2>{{ page.title }}</h2>
            <br/>
            {{ content }}
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
        <div class="col-lg-3">
            <br/>
            {% include page-side-bar.html %}
        </div>
    </div>
</div>



{% include footer.html %}

</body>

</html>